@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --branco:#fff;
    --roxo:#ae87d6;
    --preto:#000;
}


*{
    background-color: var(--roxo);
    font-family: 'Inter', sans-serif;
}



input{
    border: none;
    border-radius: 5rem;
    background-color: var(--branco);
    width: 20rem;
    height: 3rem;
}

a{
   position: relative;
   top: 0.7rem;
   color: var(--preto);
   text-decoration: none;
   background-color: var(--branco);
   font-family: 'Inter', sans-serif;
   font-size: 1.2rem;
   
}

.submit{
    border: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 4rem;
    height: 3rem;
    width: 10rem;
    background-color: var(--branco);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario p{
    position: relative;
    left: -7rem;
    top: 0.5rem;
}








